UPLOAD_LOCATION=
EXTERNAL_LOCATION=
IMMICH_VERSION=
TZ=Europe/Moscow
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE_NAME=
DB_DATA_LOCATION=
REDIS_HOSTNAME=
REDIS_PORT=
FFMPEG_HWACCEL=
IMMICH_ENABLE_OPENVINO=
MACHINE_LEARNING_HOST=
MACHINE_LEARNING_PORT=
MACHINE_LEARNING_WORKERS=
